@charset "UTF-8";

body{
    background-color: #84E1AD;
}

header{
    background-image: linear-gradient(to right, #35BC71, #288E55, #1A5D38);
    padding: 10px;
    margin: -10px -10px -21px -10px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.507);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: rgba(255, 255, 255, 0.384);
}
section#link{
   text-align: left;
  padding-right: 50px;
}
div{
    background-color: white;
    margin: 13px 82px 10px 82px;
}