@charset "UTF-8";

body{background-color: rgb(231, 48, 16);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(26, 36, 129);
  
}
h2{
    color: darkturquoise;
}
p{
    text-align: justify;
    color: aliceblue;
}