@charset "UTF-8";

/* Toda as demais midias */

/* Typical Device Breakpints 
--------------------------------
Mobile devices – 320px — 480px.

iPads, Tablets – 481px — 768px.

Small screens, laptops – 769px — 1024px.

Desktops, large screens – 1025px — 1200px.

Extra large screens, TV – 1201px, and more. 

#35374B
#344955
#50727B
#78A083*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color:#35374B;
    color: yellowgreen;
}

header{
    background-color: #1f202c;

}

header > h1{
    text-align: center;
    padding: 10px;
    margin: auto;
}

#burguer{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: 1f202c;
}

#burguer:hover{
    color: yellowgreen;
    background-color: rgb(11, 54, 54);

}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #50727B;
    color: white;
    text-align: center;
    border: 2px solid #7eacc7;
}

menu a:hover{
   color: rgb(0, 0, 0);
   background-color: #7eacc7;
}

main{
    width: 90vw;
    background-color: #1f202c;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 20px;
    color: white;
    padding: 10px;
}

p{
    text-align: justify;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
}
